@model List<Store.Models.SubCategory>
<a class="btn btn-light" asp-action="CreateSubCategory" asp-controller="Products">Add new category</a>
<a class="btn btn-light" asp-action="CreateProduct" asp-controller="Products" style="margin-left: 30px">Add new product</a>
<br />
<div class="justify-content-center align-items-center text-center">
    <h3>Catrgory list</h3>
    <br />
    <table>
        @foreach (var c in Model)
        {
        <tr>
            <td>@c.SubCategoryName</td>
            <td>
                <form method="get" asp-action="CreateCharasteristicOrChange" asp-route-id="@c.Id">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Edit
                    </button>
                </form>
            </td>
            <td>
                <form method="post" asp-action="DeleteCategory" asp-route-id="@c.Id">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        }
    </table>
</div>
