@model Store.Models.SubCategory
<h3>Create subcategory</h3>
<div class="row justify-content-center align-items-center text-center">
    <form id="formCategory" method="post" asp-action="CreateSubCategory" asp-controller="Products">
        <div>
            <input class="form-control" asp-for="SubCategoryName" placeholder="Category name" />
        </div>
        <br />
        <select asp-for="CategoryId" asp-items="ViewBag.categories" class="form-control"></select>
        <br />
        <div>
            <input class="form-control" asp-for="Desc" placeholder="Description" />
        </div>
        <br />
        <div>
            <input class="btn btn-primary" type="submit" value="Create" />
        </div>
    </form>
</div>
