@model Store.Models.Category
<div class="text-center">
    <h3>Create category</h3>
    <form id="formCategory" method="post" asp-action="CreateCategory" asp-controller="Products">
        <div>
            <input class="form-control" asp-for="CategoryName" placeholder="Category name" />
        </div>
        <br />
        <div>
            <input class="btn btn-primary" type="submit" value="Create" />
        </div>
    </form>
</div>
<style>
    form{
        margin: 0 auto;
        width: 70%;
    }
</style>
