@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div >
    @if (Model != null)
    {
        @foreach (var m in Model)
        {
        <div id="product" class="col-sm-2 border text-center float-left">
            @if (m.Img != null) {
            <img id="ProductImg" style='width:80%; height:150px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(m.Img))" />
            }
            <h7>@m.Name</h7>
            <p id="price">@m.Price $</p>
            @if (m.Avilable > 0)
            {
                <p> Available</p>
            }
            else
            {
                <p>Not available</p>
            }
        </div>
        }
    }
</div>

<style>
    .col-sm-2 {
        border: 1px gray;
        word-break: break-all;
    }
    #ProductImg{
        margin: 0 auto;
        display: block;
    }
    #price{

    }
    #Description{
     display: none;
    }
</style>